<section
  id="HeadProduct-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
>
  {{ 'head-main-product.css' | asset_url | stylesheet_tag }}
  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
  <div class="page-width">
    <div class="head_product">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when '@app' -%}
                {% render block %}
            {%- when 'title' -%}
            <div class="product__title" {{ block.shopify_attributes }}>
                <h1>{{ product.title | escape }}</h1>
                <a href="{{ product.url }}" class="product__title">
                    <h2 class="h1">
                        {{ product.title | escape }}
                    </h2>
                </a>
            </div>
            {%- endcase -%}
        {%- endfor -%}
    </div>
  </div>


  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.head-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
        "type": "@app"
    },
    {
        "type": "title",
        "name": "t:sections.head-product.blocks.title.name",
        "limit": 1
    },
    {
        "type": "sku",
        "name": "t:sections.head-product.blocks.sku.name",
        "limit": 1,
        "settings": [
            {
            "type": "select",
            "id": "text_style",
            "options": [
                {
                    "value": "body",
                    "label": "t:sections.head-product.blocks.sku.settings.text_style.options__1.label"
                },
                {
                    "value": "subtitle",
                    "label": "t:sections.head-product.blocks.sku.settings.text_style.options__2.label"
                },
                {
                    "value": "uppercase",
                    "label": "t:sections.head-product.blocks.sku.settings.text_style.options__3.label"
                }
            ],
            "default": "body",
            "label": "t:sections.head-product.blocks.sku.settings.text_style.label"
            }
        ]
    }
  ],
  "settings": [

  ]
}
{% endschema %}
